<div class="cards-container" style="display: flex; flex-direction: row; ">
    <div class="card" style="width: 18rem;" *ngFor="let item of productos">
            <img src="../../../../assets/imagenes/img productos/{{item.imagen}}" alt="{{item.imagen}}">
            <div class="card-body">
                <h5 class="card-title">{{ item.descripcion}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ref: {{item.id_producto}}</li>
                    <li class="list-group-item">Categoria: {{item.categoria.genero}}</li>
                    <li class="list-group-item">Color: {{item.color}}</li>
                    <li class="list-group-item">Marca: {{item.marca.marca}}</li>
                    <li class="list-group-item">Talla: {{item.talla.talla}}</li>
                    <li class="list-group-item">Stock: {{item.cantidad_disponible}}</li>
                    <h2>
                        <li class="list-group-item">Precio: {{item.valor_unitario}}</li>
                    </h2>
                </ul>
                <a href="#" class="btn btn-primary">Agregar al carrito</a>
            </div>
        </div>
   