<form>
 
    <div class="container py-2 h-20">
      <div class="row d-flex justify-content-center align-items-center h-20">
        <div class="col col-xl-4">
          <div class="card" style="border-dotted: 8rem;">
            <div class="row g-1">

              <!-- <div class="col-md-6 col-lg-7 d-flex align-items-center"> -->
                <div class="card-body p-4 p-lg-4 text-black">

                  <form>

                    <div class="d-flex align-items-center mb-2 pb-1">
                      <i class="fas fa-cubes fa-2x me" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Convertic Shop</span>
                    </div>

                    <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Ingresa tus datos</h2>

                    <P> Tipo de documento
                    <select class="form-select mb-4 form-select-sm"  [(ngModel)]="tipoDocumento"
                    [ngModelOptions]="{standalone: true}"
                      aria-label="Default select example">
                      <option disabled selected>Selecciona el tipo de documento</option>
                      <option value="1">Cédula de Ciudadanía</option>
                      <option value="2">Cédula de Extranjería</option>
                      <option value="3">Pasaporte</option>
                    </select>
                    </P>

                    <div class="form-outline mb-4">
                      <input type="text" id="form2Example17" class="form-control form-control-sm" placeholder="Número de documento"
                         [(ngModel)]="documento"
                        [ngModelOptions]="{standalone: true}" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" id="form2Example17" class="form-control form-control-sm" placeholder="Nombres"
                        [(ngModel)]="nombres" [ngModelOptions]="{standalone: true}" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="text" id="form2Example17" class="form-control form-control-sm"
                        placeholder="Apellidos" [(ngModel)]="apellidos" [ngModelOptions]="{standalone: true}" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example17" class="form-control form-control-sm"
                        placeholder="Correo electrónico" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-sm"
                        placeholder="Contraseña" [(ngModel)]="contrasena" [ngModelOptions]="{standalone: true}" />
                    </div>

                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-sm"
                        placeholder="Confirmación de contraseña" [(ngModel)]= "confirmarContrasena"
                        [ngModelOptions]="{standalone: true}"/>
                    </div>

                    <div class="pt-1 mb-2">
                      <button class="btn btn-dark" type="button" (click)="saveUser()">CREAR CUENTA</button>
                    </div>

                  </form>
                </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
</form>